<h1><%= @group_note.title %></h1>
<h3><%= @group_note.content %></h3>
<h3><%= @group_note.importance %></h3>
<h3><%= @group_note.user_id %></h3>
<h3><%= @group_note.site_url %></h3>
<h3><%= @group_note.start_time %></h3>
<h3><%= @group_note.end_time %></h3>
<h3><%= @group_note.category_id %></h3>
<h3><%= @group_note.group_id %></h3>
<h3><%= @group_note.done %></h3>
<h3><%= @group_note.note_type %></h3>
<%= link_to "一覧" , "/index" %>
<%= link_to "追加登録", "/new" %>