<% if @group_note.note_type = 0 %>
	<h1>予定</h1>
<% elsif @group_note.note_type = 1 %>
	<h1>スケジュール</h1>
<% else %>
	<h1>メモ</h1>
<% end %>
<h1><%= @group_note.title %></h1>
<h3><%= @group_note.content %></h3>
<h3><%= @group_note.importance %></h3>
<h3><%= @group_note.start_time %></h3>
<h3><%= @group_note.end_time %></h3>
<h3></h3>
<%= link_to "一覧" , "/group/:id" %>
<%= link_to "追加登録", "/group_note/new" %>
<%= link_to "編集", "group_note/edit/#{@group_note.id}" %>
<%= link_to '削除', "group_note/destroy/#{@group_note.id}", :method => :delete %>