<h1><%= @message.title %></h1>
<h3><%= @message.content %></h3>
<h3><%= @message.importance %></h3>
<h3><%= @message.user_id %></h3>
<h3><%= @message.start_time %></h3>
<h3><%= @message.end_time %></h3>
<h3><%= @message.for_user %></h3>
<h3><%= @message.done %></h3>
<h3><%= @message.message_type %></h3>
<%= link_to "一覧" , "/messages" %>
