<div id="notes-box" class="col-md-8 box">
  <div id="box">
    <div id="note1">
      <% if @note1 %>
        <%= link_to (@note1) do %>
          <h2>現在のノート</h2>
          <h3><%= @note1.title %></h3>
          <h3><%= @note1.content %></h3>
        <% end %>
      <% else %>
        <h2>現在のノートはありません</h2>
      <% end %>
    </div>
  </div>

  <div id="box">
    <div id="note2">
      <% if @note2 %>
        <%= link_to (@note2) do %>
          <% if @notes_count == 0 || @notes_count == 1 %>
            <h2>重要なノート</h2>
          <% else %>
            <h2>現在のノート</h2>
          <% end %>
          <h3><%= @note2.title %></h3>
          <h3><%= @note2.content %></h3>
        <% end %>
      <% else %>
        <h2>ノートがありません</h2>
      <% end %>
    </div>
  </div>

  <div id="box">
    <div id="note3">
      <% if @note3 %>
        <%= link_to (@note3) do %>
          <% if @notes_count == 0 || @notes_count == 1 %>
            <h2>次の予定のノート</h2>
          <% elsif @notes_count == 2 %>
            <h2>重要なノート</h2>
          <% else %>
            <h2>現在のノート</h2>
          <% end %>
          <h3><%= @note3.title %></h3>
          <h3><%= @note3.content %></h3>
        <% end %>
      <% else %>
        <h2>ノートがありません</h2>
      <% end %>
    </div>
  </div>
</div>

<div id="box" class="col-md-4 box">
  <div id="calendar-box">
  </div>
</div>

<% if @categories %>
  <% @categories.each_with_index do |category,i| %>
    <div id="box2" class="col-md-2 col-height">
      <div id="category<%= i %>">
        <% note = category.notes.order("importance DESC").first %>
        <% if note %>
          <%= link_to ("category/#{category.id}") do %>
            <h2><%= category.name %></h2>
            <h3><%= note.title %></h3>
            <h3><%= note.content %></h3>
          <% end %>
        <% else %>
          <h3><%= category.name %>にノートがありません！</h3>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div id="box" class="col-md-4">
    <div id="no_category">
      <h3>カテゴリーがありません！</h3>
    </div>
  </div>
<% end %>