<div id="plans" class="day_box">
	<h1>PLANS</h1>
	<% plan_count = @plans.count %>
	<% if plan_count == 0 %>
		<h2>今日の予定はありません</h2>
	<% else %>
		<% @plans.each do |plan| %>
			<br>
			<%= plan.title %>
			<%= plan.content %>
		<% end %>
	<% end %>
</div>
<div id="schedule" class="day_box">
	<% schedule_count = @schedules.count %>
	<h1>SCHEDULES</h1>
	<% if schedule_count == 0 %>
		<h2>今日の日程はありません</h2>
	<% else %>
		<% @schedules.each do |schedule| %>
			<br>
			<%= schedule.title %>
			<%= schedule.content %>
		<% end %>
	<% end %>
	</div>
<div id="memo" class="day_box">
	<% memo_count = @memos.count %>
	<% if memo_count == 0 %>
		<h2>メモはありません</h2>
	<% else %>
		<h1>MEMOS</h1>
		<% @memos.each do |memo| %>
			<br>
			<%= memo.title %>
			<%= memo.content %>
		<% end %>
	<% end %>
</div>