<div class="modal-dialog">
  <div class="modal-content">
    <div class="embroidery">
    <div class="form">
    <%= form_for(@note, remote: true) do |f|%>
      <% if @type == "plan" %>
        <%= f.hidden_field :note_type , :value => "0"%>
      <% elsif @type == "schedule" %>
        <%= f.hidden_field :note_type , :value => "1"%>
      <% else %>
        <%= f.hidden_field :note_type , :value => "2"%>
      <% end %>
      <%= f.hidden_field :source, :value => @source %>

      <%= f.text_field :title, {:placeholder => "add #{@type}", :class => "title"} %>
      <hr>
      <%= f.text_area :content, {:id => "textarea", :class => "textarea", :placeholder => "content"} %>
      <br>
      <div id="importance_range">
        <%= f.range_field :importance, {:class => "range", :id => "range"} %>
      </div>
      <% if @type == "plan" %>
        <%= f.text_field :start_time, data: { :date_format => 'YYYY-MM-DD HH:mm' }, :class => 'form-control datetimepicker', :id => "start_time", :placeholder => "start time" %>
        <%= f.text_field :end_time, data: { :date_format => 'YYYY-MM-DD HH:mm' }, :class => 'form-control datetimepicker', :id => "end_time", :placeholder => "end time" %>
      <% elsif @type == 'schedule' %>
        <%= f.text_field :start_time, data: { :date_format => 'YYYY-MM-DD' }, :class => 'form-control datetimepicker', :id => "start_time", :placeholder => "start time" %>
        <%= f.text_field :end_time, data: { :date_format => 'YYYY-MM-DD' }, :class => 'form-control datetimepicker', :id => "end_time", :placeholder => "end time" %>
      <% end %>
      <br>
      カテゴリー
      <br>
      <% if @categories == nil %>
        登録できるカテゴリーがありません！！
      <% else %>
        <%= f.collection_select :category_id, @categories, :id, :name %>
      <% end %>
      <br>
      <input type="reset"　value="リセット">
      <%= f.submit "投稿" %>
    <% end %>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
(function(){
  var importance_range = document.getElementById("importance_range");
  var range_width = 484.391,
      height = 30,
      width = range_width / 100,
      draw = SVG('importance_range').size(range_width, height),
      range = document.getElementById('range'),
      range_click = false;

  importance_range.height = height;
  range.addEventListener('input', rangeChanged, false);
  <% @notes.each do |note| %>
    drawLine(<%= note.importance %>, "<%= note.title %>", "#000");
  <% end %>
  var now_move_width = range_width * 0.5 - width / 2;
  var now_importance = 50;
  var now_rect = draw.rect(width, height).move(now_move_width, 0).fill("#ff0000");
  function drawLine(importance, name, col){
    var move_width = range_width * importance / 100;
    rect = draw.rect(width, height).move(move_width - width / 2, 0).fill(col);
  }


  function rangeChanged(){
    now_rect.remove();
    now_move_width = range_width * range.value / 100 - width / 2;
    now_rect = draw.rect(width, height).move(now_move_width, 0).fill("#ff0000");
  }

  var textarea = document.getElementById('textarea');
  textarea.addEventListener('change', changeBoxSize, false);

  function changeBoxSize(e){

  }

  $('#start_time,#end_time').datetimepicker({
  });

}());
</script>