<%= stylesheet_link_tag "inside/index_importance" , media: "all" ,"data-turbolinks-track" => true %>
<div id="time_box">
	<h3 id="now_date"></h3>
	<h3 id="time"></h3>
</div>
<% @notes.each_with_index do |note ,i|%>
  <% if i <= 7 %>
  	<%= link_to (note) do %>
	    <div class="note<%= i %>">
	      <h2><%= note.title %></h2>
	      <p class="p<%= i %>"><%= note.content %></p>
	      <p><%= note.start_time.strftime('%Y/%m/%d %H:%M') %></p>
    	</div>
	<% end %>
  <% end %>
<% end %>
<%= link_to "ホーム" , "/top" %>
<%= link_to "新規登録" , "/new" %>
<style>
</style>
<script type="text/javascript">
	function set2fig(num) {
	   var ret;
	   if( num < 10 ) { ret = "0" + num; }
	   else { ret = num; }
	   return ret;
	}

	function showClock2() {
	   var nowTime = new Date();
	   var nowYear = set2fig( nowTime.getFullYear() );
	   var nowMonth = set2fig( nowTime.getMonth() +1);
	   var nowDay = set2fig( nowTime.getDate() );
	   var nowHour = set2fig( nowTime.getHours() );
	   var nowMin = set2fig( nowTime.getMinutes() );
	   var time = nowHour + ":" + nowMin;
	   var date = nowYear + "/" + nowMonth + "/" + nowDay;
	   document.getElementById("time").innerHTML = time;
	   document.getElementById("now_date").innerHTML = date;
	}
	setInterval('showClock2()',1000);
</script>