<h1><%= @note.title %></h1>
<h3><%= @note.content %></h3>
<h3><%= @note.importance %></h3>
<h3><%= @note.user_id %></h3>
<h3><%= @note.file %></h3>
<h3><%= @note.alarm %></h3>
<h3><%= @note.site_url %></h3>
<h3><%= @note.start_time %></h3>
<h3><%= @note.end_time %></h3>
<%= link_to "一覧" , "/index" %>
<%= link_to "追加登録", "/new" %>
<%= link_to "編集", [:edit, @note] %>
<%= link_to '削除', note_path(id: @note.id) ,:method => :delete %>