<h1>新規プロジェクト</h1>
<div id="form">
<div id="content">
<%= form_for(@work) do |f|%>
	<%= f.hidden_field :user_id , :value => session[:user_id] %>
	プロジェクト名
	<br>
	<%= f.text_field :name %>
	<br>
	<%= f.color_field :color %>
	<input type="reset"　value="リセット">
	<%= f.submit "プロジェクトの作成" %>
<% end %>
</div>
</div>