<div class="sign-in-box"></div>
<h1>sign up</h1>
<%= form_for(@user) do |f| %>
  name
  <br>
  <%= f.text_field :name %>
  <br>
  email
  <br>
  <%= f.text_field :email %>
  <br>
  password
  <br>
  <%= f.password_field :password %>
  <br>
  password confirmation
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <input type="submit" value="作成">
<% end %>