<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title><%= content_for?(:title) ? yield(:title) : "Project" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>    

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->

  </head>
  <body>
    <div id="nav"></div>
  <header>
    <ul id="main_nav" class="dropmenu">
      <% if signed_in? %>
      <li><%= link_to 'groups', groups_path %>
        <ul>
          <li class="dropmenu_li"><%= link_to "create group", "/group/new" %></li>
          <li class="dropmenu_li"><%= link_to "groups", "/groups" %></li>
          <li class="dropmenu_li"><%= link_to "invites", "/invite/index"%></li>
        </ul>
      </li>
      <li><%= link_to "note" ,"#" %>
        <ul>
          <li class="dropmenu_li"><%= link_to "add plan" ,"/new/plan#{@source}", remote: true %></li>
          <li class="dropmenu_li"><%= link_to "add schedule" ,"/new/schedule#{@source}", remote: true %></li>
          <li class="dropmenu_li"><%= link_to "add memo" ,"/new/memo#{@source}", remote: true %></li>
        </ul>
      </li>
      <li><%= link_to "index", "/new_message" %>
        <ul>
          <li class="dropmenu_li"><%= link_to "manager", "/index_manager" %></li>
          <li class="dropmenu_li"><%= link_to "particle", "/index_particle" %></li>
          <li class="dropmenu_li"><%= link_to "calender", "/index_calender" %></li>
          <li class="dropmenu_li"><%= link_to "day", "/index_day" %></li>
          <li></li>
        </ul>
      </li>
      <li><%= link_to "account", "#"%>
        <ul>
          <li class="dropmenu_li"><%= link_to 'profile', current_user %></li>
          <li class="dropmenu_li"><%= link_to 'sign out', signout_path, method: :delete %></li>
          <li class="dropmenu_li"><%= link_to 'friend', "/follows" %></li>
        </ul>
      </li>
      <li><%= link_to "home" , "/index" %>
        <ul>
          <li></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to 'home' , '/' %></li>
      <li><%= link_to 'sign in', signin_path %></li>
      <li><%= link_to 'sign up', signup_path %></li>
      <% end %>
    </ul>
  </header>

      <div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <div id="main">
    <%= yield %>
  </div>

  </body>
</html>
